/* === General Reset === */
body {
  font-family: 'Hind', sans-serif;
  background-color: #1F0D68;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

button {
  font-family: 'Hind', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* === Container Styling === */
.login-container {
  display: flex;
  flex-direction: row;
  background-color: #1F0D68;
  width: 100%;
  max-width: 1200px;
  padding: 2rem;
}

/* === Illustration === */
.login-illustration {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-illustration img {
  width: 80%;
  height: auto;
}

/* === Form Styling === */
.login-form-wrapper {
  flex: 1;
  padding: 2rem;
}

.login-form-wrapper h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #EEF1FD;
  text-align: center;
}

.login-form-wrapper p {
  color: #EEF1FD;
  margin: 0.5rem 0 2rem 0;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-form input {
  padding: 0.75rem 1rem;
  border-radius: 8px;
  border: 2px solid #EEF1FD;
  background-color: transparent;
  color: #EEF1FD;
  font-size: 1rem;
  font-family: 'Hind', sans-serif;
}

.login-form input::placeholder {
  color: #EEF1FD;
  opacity: 0.8;
  font-weight: 300;
}

.login-form button {
  margin-top: 20px;
  background: linear-gradient(90deg, #B85FBF, #DAAAD6);
  padding: 0.75rem;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-form button:hover {
  opacity: 0.85;
}

.login-form-wrapper small a {
  color: #DAAAD6;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s;
}

.login-form-wrapper small a:hover {
  color: #DAAAD6;
  text-decoration: underline;
}

.login-form-wrapper small {
  display: block;
  text-align: center;
  color: #EEF1FD;
  margin-top: 1rem;
}

.logo-wrapper {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 50;
}

.logo-wrapper .logo {
  height: 20px;
  width: auto;
}


